<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Create Blog</title>
</head>
<style >
    label {
        display: inline-block;
        width: 200px;
        margin: 5px;
        text-align: left;
    }
    input[type=text], input[type=password], select {
        display: inline-block;
        width: 200px;
    }
    input[type=radio] {
        margin-left: 45px;
    }
    input[type=checkbox] {
        margin-right: 190px;
    }
    button {
        padding: 5px;
        margin: 10px;
    }
</style>
<body>
<div >
    <h1>Update a Blog</h1>
<!--    append post id to aciton-->
    <form action="#" th:action="@{'/updates/' + ${post.getId()}}" method="post" >

        <label>Title2:</label>
        <input type="text"  name="title" th:value="${post.title}"/><br>

        <label>Tags:</label>
        <input type="text" name="tag" th:value="${post.getTagsToString()}" /><br>

        <label>content:</label>
        <textarea rows="10" cols="40" name="content" th:value="${post.getContent()}" th:text="${post.getContent()}" ></textarea>
        <br>

        <label>Author:</label>
        <input type="text"  name="author" th:value="${post.getAuthor()}" /><br/>

        <button type="submit">Submit</button>
    </form>
</div>
</body>
</html>